body{
    background-image: url('fondo.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width:50%;
    height: 50%;
}
h1,p{
    font-family: Impact;
    text-align: center;
    color: antiquewhite;
}

.saludo{
    display: grid;
    justify-content: center;
    align-items: center;
}