body{
    background-image: url('fondo.gif');
    background-size: cover;
}
#caja{
    width: 35%;
    height: 35%;
}
h1,p{
    font-family: Impact;
    text-align: center;
    color: antiquewhite;
}

.saludo{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}