body{
    background-image: url('fondo.gif');
    background-size: cover;
}
#caja{
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
h1,p{
    font-family: Impact;
    text-align: center;
    color: antiquewhite;
    pointer-events: none;
}

.saludo{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
@media screen and (max-width: 768px){
    body{
        background-size: 588px, 588px;
    }
    img{
        max-width: 400px;
        max-height: 250px;
    }
    
    #caja{
        position: relative;
        width: 300px;
        height: 300px;
        cursor: pointer;
    }
}